<% if @job.errors.any? %>
  <div class="alert alert-danger">
    </ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
