<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to(
          "Plumhire",
          root_path,
          class: "navbar-brand"
        )%>
        <button class="navbar-toggle"
                data-target="#navbar-main"
                data-toggle="collapse"
                type="button"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse"
           id="navbar-main"
      >
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#" id="navbar_jobs"
            >
              Jobs
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu"
                aria-labelledby="navbar_jobs"
            >
              <li>
                <%= link_to(
                  "Open jobs",
                  jobs_path
                )%>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to(
                  "New job",
                  new_job_path
                )%>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
          <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
